@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
}

@layer base{
  body{
    @apply px-4 bg-dark-800 text-primary-300 flex flex-col justify-center gap-[10px] md:overflow-auto lg:px-10 lg:gap-20 text-lg;
  }
  section{
    @apply p-[10px] border-dark-700 border-2 rounded-xl gap-[10px]
  }
  h2{
    @apply uppercase font-semibold text-[24px] text-primary-300
  }
  h3{
    @apply uppercase font-medium text-lg text-primary-300
  }
  hr{
    @apply border-dark-500
  }
}

@layer components{
  
}

.loading {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background:
		radial-gradient(farthest-side, #D48e77 94%, #0000) top/16px 16px no-repeat,
		conic-gradient(#0000 30%, #CE7D63);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
	animation: s3 0.5s infinite linear;
}
