@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
}

@layer base{
  body{
    @apply px-4 md:px-8 lg:px-10 2xl:px-20 bg-dark-800 text-primary-300 flex flex-col justify-center gap-2.5 md:overflow-auto  md:gap-8 text-lg scroll-smooth;
  }
  section{
    @apply p-2.5 border-dark-700 border-2 rounded-xl
  }
  h2{
    @apply uppercase font-semibold text-[24px] text-primary-300
  }
  h3{
    @apply uppercase font-medium text-lg text-primary-300
  }
  hr{
    @apply border-dark-500
  }
}

.custom-pulse{
  animation:custom-pulse 2s infinite;
}

@keyframes custom-pulse {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.75;
  }
}


.loader {
  width: 160px;
  aspect-ratio: 1;
  background: 
    linear-gradient(45deg,#f77825 50%,#0000 0),
    linear-gradient(45deg,#0000 50%,#f77825 0),
    linear-gradient(-45deg,#A7A7A7 50%,#0000 0),
    linear-gradient(-45deg,#0000 50%,#A7A7A7 0),
    linear-gradient(#F9EFEC 0 0);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite;
}
@keyframes l18{
  0%   {background-position:50% 50%,50% 50%,50%  50% ,50% 50%,50% 50%}
  25%  {background-position:0  100%,100%  0,50%  50% ,50% 50%,50% 50%}
  50%  {background-position:0  100%,100%  0,100% 100%,0   0  ,50% 50%}
  75%  {background-position:50% 50%,50% 50%,100% 100%,0   0  ,50% 50%}
  100% {background-position:50% 50%,50% 50%,50%  50% ,50% 50%,50% 50%}
}